<div class="container">
	<div class="header">
		<h1 class="title">{{ title }}</h1>
		<p class="text-description">Para copiar el color deseado, solo da click sobre el recuadro y automáticamente el color en su formato hexadecimal pasará a tu clipboard.</p>
	</div>
	<div class="body">
		<div class="colorsList" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="flex-start" style="height: 100%; margin-left: 10px;">
			<div *ngFor="let color of colorsArray" (click)="fnCopy(color.color)" class="combo-grid" fxFlex="0 1 calc(33.3% - 10px)" fxFlex.lt-md="0 1 calc(50% - 10px)" fxFlex.lt-sm="100%" [style.background]="color.color">
				<div class="combo-principal">  	
				  	<div class="combo-headerd">
				  		<h4 class="text-year">{{ color.year }}</h4>
				  	</div>
				  	<div class="combo">
				  		<h2 class="text-color">{{ color.name }}</h2>
				  		<h2 class="text-color">{{ color.color }}</h2>
				  	</div>
				  	<div class="combo-footerd">
				  		<h4 class="text-pantone">{{ color.pantone_value }}</h4>
				  	</div>
				</div>  	
			</div>
		</div>
	</div>
</div>   
<footer class="footer">
	<div class="leftDiv" *ngIf="(this.valuePrev != 0)" >
		<div href="#" (click)="previous(valuePrev)" class="link-paginator">< Anterior</div>
	</div>
	<div class="righttDiv" *ngIf="(this.valueInit < this.colorsPage)">
		<div href="#" (click)="next(valueNext)"  class="link-paginator">Siguiente ></div>
	</div>
</footer>


