/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}
body { 
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif;

}
.container {
   	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  	padding: 20px;
}

.text-description {
	text-align: center;
	font-size: 1.2em;
}

/* Footer */
.footer {
	position:fixed;
	bottom:0px;
	background:#000000;
	width:100%;
	padding: 20px 0px;
}

.leftDiv {
	cursor: pointer;
	float: left;
	padding: 10px 0px 10px 20px;
}
.righttDiv {
	cursor: pointer;
	float: right;
	padding: 10px 20px 10px 0;
}

.link-paginator {
	color: #ffffff;
	display: inline;
}

/* Grid */
.title {
	border: 1px solid #333;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}
.combo-grid {
	border-radius: 10px;
	border: 1px solid #f4f4f4;

}
.combo-principal {
    flex: 1;
}
.combo-header {
	margin: 0 10px 0 10px;
	position: absolute;
    top: 10px;
    width: 100%;
}
.combo {
	float: left;
	width: 100%;
}
.combo-footer {
	bottom: 10px;
    float: right;
    margin: 0 10px 0 -10px;
    position: absolute;
    width: 100%;
}
.text-year {
	text-align: left;
	padding: 10px;
}
.text-color {
	text-align: center;
}
.text-pantone {
	text-align: right;
	padding: 10px;
}
